#	$OpenBSD: sshd_config,v 1.101 2017/03/14 07:19:07 djm Exp $

Port 2222

# Keys
HostCertificate /farcaster/restricted/secrets/host_certificate
HostKey /farcaster/restricted/secrets/host_key
TrustedUserCAKeys /farcaster/restricted/secrets/trusted_user_ca.pub

# Ciphers and keying
CASignatureAlgorithms ssh-ed25519
HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com
PubkeyAcceptedKeyTypes ssh-ed25519-cert-v01@openssh.com
KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org
Ciphers aes128-gcm@openssh.com,chacha20-poly1305@openssh.com
MACs umac-64-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512-etm@openssh.com

# Authentication
PubkeyAuthentication yes
LoginGraceTime 1m
PermitRootLogin no
StrictModes yes
MaxAuthTries 1
MaxSessions 15
AuthorizedKeysFile none
PasswordAuthentication no
PermitEmptyPasswords no
ChallengeResponseAuthentication no

# Forwarding
X11Forwarding no
AllowAgentForwarding no
AllowStreamLocalForwarding no
PermitOpen none
AllowTcpForwarding no
GatewayPorts no

# Misc options
PermitTTY yes
PrintMotd no
Subsystem	sftp	/bin/false
